# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/

# IDE
.vscode/
.idea/
*.iml

# Data / datasets / caches
data/
yolo_lp/
runs/
**/runs/
*.pt
*.onnx

# OS
.DS_Store
Thumbs.db

# Logs
*.log
